body
{   
  
   background-color:#23242F;
   margin: 0;
}
.main
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: linear-gradient(rgba(174, 217, 245, 0.8), rgba(4, 9, 30, 0.9)),url('Asset/main 2.jpeg');
    width: 100%;
    height: 600px;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    text-align: center;
    margin: 0;
    padding: 0;

}
.main_text
{   
    font-family: 'Young Serif';
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    text-align: center;
    /*left: 40%;
    top: 33%;
    z-index: 5;*/

}
.heading
{   
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width:550px;
    height: 100px;
    margin-left: 90px;
}
.text
{
    font-family: 'Young Serif';
    color: white;
    font-size: 27px;
    text-align: center;
}
.hh
{
    border: none;
    border-top: 1px solid #fff;
    margin-left: 215px;
    filter: blur(3px);
    width: 600px;
}
.container
{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 60vh;
}
.line-container
{
   display: flex;
   flex-direction: column;
   align-items: center;
   /*flex:0 0 12.5%;*/
   height: 100%;
   margin-left: 150px;

}
.img
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 140px;
    height:200px;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 255, 0, 0.5);
    /*margin-left: 140px;
    object-fit: cover;*/

}
.img img {
    width: 100%;  /* Make the image width 100% of the container */
    height: 100%; /* Make the image height 100% of the container */
    object-fit: cover; /* Maintain the aspect ratio and fill the container */
}
.line
{
    background:linear-gradient(#56d364, #2ea043);
    transition-delay: 500ms;
    width : 6px;
    height: 100%;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
    border-radius: 12px;
}
/*.line::before {
    content: "";
    width: 100%;
    height: 2px;
    background: linear-gradient(#56d364, #2ea043, var(--color-canvas-default));
}*/
.text-container
{
    display:flex;
    flex-direction: column;
    width: 100%;
    height: 100%;

}
.head {
    display: flex;
    align-items: start;
    justify-content: space-around;
    width: 100%;
    color: white;
    font-weight: bold;
    margin-bottom: 20px;

}

.heading-item {
    display: flex;
    align-items: center;
    font-size: 25px;
    font-family: 'Merriweather';
    margin-right: 5px;
}
.heading-item i {
    margin-right: 5px;
    font-size: 25px;
}
.details
{   
    display: flex;
    justify-content: center;
    font-family: 'Merriweather';
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    margin-left: 90px;
    margin-right: 50px;


}
.img1
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 140px;
    height:200px;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(255, 85, 0, 0.5);
    /*margin-left: 140px;
    object-fit: cover;*/

}
.img1 img {
    width: 100%; 
    height: 100%;
    object-fit: cover;
}
.line1
{
    background:linear-gradient(#d39756, #db230a);
    transition-delay: 500ms;
    width : 6px;
    height: 100%;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
    border-radius: 12px;
}
.img2
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 140px;
    height:200px;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(218, 112, 214, 0.8) ;
    /*margin-left: 140px;
    object-fit: cover;*/

}
.img2 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.line2
{   
    background:linear-gradient(#c256d3, #920adb);
    /*background: linear-gradient(to right, 
    rgba(128, 0, 128, 0.8),
    rgba(160, 32, 240, 0.8),
    rgba(196, 82, 238, 0.8),
    rgba(218, 112, 214, 0.8)
);*/
    transition-delay: 500ms;
    width : 6px;
    height: 100%;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
    border-radius: 12px;
}
@media only screen and (max-width: 420px) and (max-height: 780px) 
{   

.main
{
    width: 100%;
    height: 370px;
    background-attachment: scroll;
    overflow: hidden;

    

}
.main_text
{   
    
    font-size: 12px;

}
.heading
{   
    width: 230px;
    height: 100px;
    margin-left: 10px;
}
.text
{
    font-size: 19px;
}
.hh
{
    margin-left: 10px;
    width: 350px;
}
.container
{
   
    width: 100%;
    height: 50vh;
}
.line-container
{
   height: 100%;
   margin-left: 20px;

}
.img
{
    width: 80px;
    height:100px;

}
.line
{
    width : 3px;
    border-radius: 10px;
}
.head {
    margin-bottom: 15px;

}

.heading-item {
    font-size: 19px;
    margin-right: 5px;
}
.heading-item i {
    margin-right: 5px;
    font-size: 19px;
}
.details
{   
    font-size: 17px;
    margin-left: 23px;
    margin-right: 20px;
    text-align: start;
    height: 100%;


}
.img1
{
    width: 80px;
    height:100px;

}
.line1
{
    width : 3px;
    border-radius: 10px;
}
.img2
{
    width: 80px;
    height:100px;

}
.line2
{   
    width : 3px;
    border-radius: 10px;
}

}
